<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ghelius.narodmon"
          android:versionCode="13"
          android:versionName="@string/app_version_name">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="11"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application android:label="@string/app_name"
                 android:icon="@drawable/app_icon"
                 android:name=".MyApplication"
                 android:logo="@drawable/app_icon">

         <receiver android:name="OnBootReceiver">
        <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED"/>
        </intent-filter>
        </receiver>
        <receiver android:name="OnAlarmReceiver">
        </receiver>
        <service android:name=".WatchService">
        </service>

        <activity android:name="com.ghelius.narodmon.MainActivity"
                  android:label="@string/app_name"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".SensorInfo"/>
        <activity android:name=".PreferActivity"/>
    </application>
</manifest>
